/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    
}


img {
    max-width: 100%;
}

html {
    font-family: 'Montserrat',  sans-serif;
}


/* main-container */

.main-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(20, 25, 34, 1);

}

.main-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}


.nav-header {
    width: 100%;
    height: 60px;
    background-color: rgba(8, 11, 18, 1);
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    
}

.btn-upgrade {
    color: white;
    border: solid 2px white;
    border-radius: 999px;
    text-align: center;
    font-size: 12px;
    padding: 10px 30px 10px 30px;  
}

/* sidebar */

.side-bar {
    width: 250px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    color: white;
    padding: 10px;
}

.logo {
    width: 170px;
}

.side-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}


.side-icon {
    width: 30px;
    color: rgba(210, 210, 210, 1);
    align-items: center;
}

.favourite {
    background-color:rgba(210, 210, 210, 1) ;
    color: rgba(0, 0, 0, 1);
    font-size: 50px;
    padding: 0px 15px;
}





/* navbar-footer 
player */

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(40, 40, 40, 1);  
}




/* media queries */

/* tablet */

@media (max-width: 991.99px) {

}

/* mobile */

@media (max-width:767.99px) {

    .side-bar {
        width: 50px;
    }
}