/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    
}


img {
    max-width: 100%;
}


/* main-container */

.main-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(20, 25, 34, 1);

}

.main-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.side-bar {
    width: 250px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}



/* media queries */

/* tablet */

@media (max-width: 991.99px) {

}

/* mobile */

@media (max-width:767.99px) {

    .side-bar {
        width: 50px;
    }
}